<%- include("../partials/userr/header.ejs") %>

 <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <h1>Bulk Nation</h1>
                    <!-- <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a> -->
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                              
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">Blog</a>
                               
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                               
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                            
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <!-- <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div> -->
                    <div class="single-mobile-header-info">
                        <!-- <a href="page-login-register.html">Log In / Sign Up </a> -->
                    </div>
                </div>
                <div class="mobile-social-icon">
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <section class="home-slider position-relative pt-25 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="position-relative">
                            <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                                <div class="single-hero-slider single-animation-wrap">
                                    <div class="container">
                                        <div class="slider-1-height-3 slider-animated-1">
                                            <!-- <div class="hero-slider-content-2">
                                                <h4 class="animated">Trade-In Offer</h4>
                                                <h2 class="animated fw-900">Supper Value Deals</h2>
                                                <h1 class="animated fw-900 text-brand">On All Products</h1>
                                                <p class="animated">Save more with coupons & up to 70% off</p>
                                                <a class="animated btn btn-brush btn-brush-3" href="/"> Shop Now </a>
                                            </div> -->
                                            <div class="slider-img">
                                                <img src="assets/imgs/banner/nbz.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-hero-slider single-animation-wrap">
                                    <div class="container">
                                        <div class="slider-1-height-3 slider-animated-1">
                                            <!-- <div class="hero-slider-content-2">
                                                <h4 class="animated">Tech Promotions</h4>
                                                <h2 class="animated fw-900">Tech Trending</h2>
                                                <h1 class="animated fw-900 text-brand">Great Collection</h1>
                                                <p class="animated">Save more with coupons & up to 20% off</p>
                                                <a class="animated btn btn-brush btn-brush-3" href="/"> Shop Now </a>
                                            </div> -->
                                            <div class="slider-img">
                                                <img src="assets/imgs/banner/buy.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-md-none d-lg-block">
                        <div class="banner-img banner-1 wow fadeIn  animated home-3">
                            <img class="border-radius-10" src="assets/imgs/banner/sbz.png" alt="">
                            <!-- <div class="banner-text">
                                <span>Accessories</span>
                                <h4>Save 17% on <br>Autumn Hat</h4>
                                <a href="/">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div> -->
                        </div>
                        <div class="banner-img banner-2 wow fadeIn  animated mb-0">
                            <img class="border-radius-10" src="assets/imgs/banner/sbz2.png" alt="">
                            <!-- <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save 20% on <br>Eardrop</h4>
                                <a href="/">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="featured section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs section-padding wow fadeIn animated">
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <!-- <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button> -->
                        </li>
                        <li class="nav-item" role="presentation">
                            <!-- <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button> -->
                        </li>
                        <li class="nav-item" role="presentation">
                            <!-- <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button> -->
                        </li>
                    </ul>
                    <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <%for(let i=0;i< products.length;i++){%>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/productDetails?id=<%=products[i]._id%>">
                                                <img class="default-img" src="/uploads/re-image/<%=products[i].productImage[0]%>" alt="<%=products[i].productName%>">
                                                <!-- <img class="hover-img" src="assets/imgs/shop/product-1-2.jpg" alt=""> -->
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <!-- <a aria-label="Quick view" class="action-btn hover-up" href="#"  ><i class="fi-rs-eye"></i></a> -->
                                            <!-- data-bs-target="#quickViewModal" data-bs-toggle="modal" -->
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishList?id=<%=products[i]._id%>"><i class="fi-rs-heart"></i></a>
                                            <!-- <a aria-label="Add To Cart" class="action-btn hover-up" href="/addToCart?id=<%=products[i]._id%>"><i class="fi-rs-shuffle"></i></a> -->
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <!-- <span class="hot">Hot</span> -->
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <!-- <a href=""></a> -->
                                             <h2><%=products[i].productName%></h2>
                                        </div>
                                        <!-- <h6><a href="#"><%=products[i].description%></a></h6> -->
                                        <h2><a href="#"><%=products[i].flavor%></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span class="offer">
                                                <span></span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%=products[i].salePrice%></span>
                                            <span class="old-price">₹<%=products[i].regularPrice%></span>
                                        </div>
                                        
                                            <div class="product-action-1 show">
                                                <% if (products[i].quantity > 0) { %>
                                                <a aria-label="Add To Cart" class="action-btn hover-up" href="/addToCart?id=<%= products[i]._id %>">
                                                    <i class="fi-rs-shopping-bag-add"></i>
                                                </a>
                                                <% } else { %>
                                                    <span style="color: red;">Out of stock</span>
                                                <% } %>              
                                            </div>                                 
                                    </div>
                                </div>
                            </div>
                            <%}%>
                            
                    
    </main>
    <%- include("../partials/userr/footer.ejs") %>
